{% load static %}
<!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container ">
            <section class="footer-top padding-y-lg text-white">
                <div class="row text-center">

                    <aside class="col-md col-6">
                        <h6 class="title">IRVIN</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">About us</a></li>
                            <li> <a href="#">Career</a></li>
                            <li> <a href="#">Find a store</a></li>
                            <li> <a href="#">Rules and terms</a></li>
                            <li> <a href="#">Sitemap</a></li>
                        </ul>
                    </aside>

                    <aside class="col-md col-6">
                        <h6 class="title">Account</h6>
                        <ul class="list-unstyled">
                            <li> <a href="{% url 'login' %}"> User Login </a></li>
                            <li> <a href="{% url 'register' %}"> User register </a></li>
                            <li> <a href="#"> Account Setting </a></li>
                            <li> <a href="#"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Social</h6>
                        <ul class="list-unstyled">
                            <li><a href="https://www.instagram.com/irvins.sg/" target="_blank"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="https://www.tiktok.com/@irvins.official" target="_blank"> <i class="fab fa-tiktok"></i> Tiktok </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->

            <section class="footer-bottom text-center">

                    <p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
                    <p class="text-muted"> &copy 2019 Company name, All rights reserved </p>
                    <br>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->