{% extends 'base.html' %}


{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">


<!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">Filter by category</div> <!-- col.// -->
                    <div class="col-md-10">
                        <ul class="list-inline">
                                <li class="list-inline-item mr-3"><a href="{% url 'store' %}">All items</a></li>

                              {% for category in links %}
                                <li class="list-inline-item mr-3"><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
                <div class="form-inline">
                    <strong class="mr-md-auto">{{ product_count }} Items found </strong>
                    <select class="mr-2 form-control">
                        <option>Latest items</option>
                        <option>Trending</option>
                        <option>Most Popular</option>
                        <option>Cheapest</option>
                    </select>
                    <div class="btn-group">
                        <a href="page-listing-grid.html" class="btn btn-light active" data-toggle="tooltip" title="List view">
                            <i class="fa fa-bars"></i></a>
                        <a href="page-listing-large.html" class="btn btn-light" data-toggle="tooltip" title="Grid view">
                            <i class="fa fa-th"></i></a>
                    </div>
                </div>
        </header><!-- sect-heading -->

        <div class="row">
            {% if products %}
                {% for product in products %}
                    <div class="col-md-3">
                        <figure class="card card-product-grid rounded" style="cursor: pointer;">
                            <a href="{{ product.get_url }}" class="img-wrap">
                                <span class="badge badge-danger"> NEW </span>
                                <img src="{{ product.images.url }}">
                            </a> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                    <a href="{{ product.get_url }}" class="title mb-2 text-truncate">{{ product.product_name }}</a>
                                    <div class="price-wrap">
                                        <span class="price">${{ product.price }}</span>
                                        <small class="text-muted">/per item</small>
                                    </div> <!-- price-wrap.// -->
                                    <p class="text-muted ">Guangzhou Yichuang Electronic Co</p>

                                    <hr>

                                    {% comment %} <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 2 Years </span>
                                        <span class="tag"> 23 reviews </span>
                                        <span class="tag"> Japan </span>
                                    </p> {% endcomment %}


                                    {% comment %} <a href="#" class="btn btn-outline-primary ml-auto"> <i class="fa fa-shopping-cart"></i> Add to cart</a> {% endcomment %}

                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                {% endfor %}
            {% else %}
                    <h2 class="text-center"> No result found. Please try again</h2>
            {% endif %}
        </div> <!-- row end.// -->


        <nav class="mb-4 " aria-label="Page navigation sample">
            {% if products.has_other_pages %}
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item "><a class="page-link" href="?page={{ products.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    {% for i in products.paginator.page_range%}
                        {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item "><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor%}


                    {% if products.has_next %}
                        <li class="page-item "><a class="page-link" href="?page={{ products.next_page_number}}">Next</a></li>
                    {% endif %}
            {% endif %}
        </nav>


        <div class="box text-center">
            <p>Can't you find what you were looking for？</p>

            <a href="" class="btn btn-outline-primary">Have a quick chat with us</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}